[submodule "firewall"]
	path = firewall
	url = https://github.com/dsiemienas03/ccdc-ansible.git
[submodule "firewall-docker"]
	path = firewall-docker
	url = https://github.com/dsiemienas03/ccdc-docker
[submodule "ansible-docker"]
	path = ansible-docker
	url = https://github.com/dsiemienas03/ccdc-docker.git
