[submodule "pan-os-ansible"]
  path = submodules/pan-os-ansible
  url = https://github.com/PaloAltoNetworks/pan-os-ansible.git

[submodule "pfsensible.core"]
  path = submodules/pfsensible
  url = https://github.com/pfsensible/core.git

[submodule "FMCAnsible"]
  path = submodules/fmc-ansible
  url = https://github.com/CiscoDevNet/FMCAnsible.git

[submodule "FTDAnsible"]
  path = submodules/ftd-ansible
  url = https://github.com/CiscoDevNet/FTDAnsible.git

[submodule "ccdc-ansible"]
	path = submodules/ccdc-ansible
	url = https://github.com/dsiemienas03/ccdc-ansible.git
