:root {
	--clr-mono-50: #f9f9f9;
	--clr-mono-100: #f2f2f2;
	--clr-mono-200: #e9e9e9;
	--clr-mono-300: #d9d9d9;
	--clr-mono-400: #b5b5b5;
	--clr-mono-500: #959595;
	--clr-mono-600: #6d6d6d;
	--clr-mono-700: #595959;
	--clr-mono-800: #3b3b3b;
	--clr-mono-900: #1b1b1b;
}