:root {
	--clr-primary-50: #e9eaf2;
	--clr-primary-100: #c8cae1;
	--clr-primary-200: #a4a8cc;
	--clr-primary-300: #8286b6;
	--clr-primary-400: #696ca7;
	--clr-primary-500: #525299;
	--clr-primary: var(--clr-primary-500);
	--clr-primary-600: #4c4a90;
	--clr-primary-700: #434184;
	--clr-primary-800: #3c3777;
	--clr-primary-900: #2f2760;
	--clr-complementary-50: #f8faeb;
	--clr-complementary-100: #edf3cc;
	--clr-complementary-200: #e2ebac;
	--clr-complementary-300: #d8e38f;
	--clr-complementary-400: #d0dd7a;
	--clr-complementary-500: #c9d768;
	--clr-complementary-600: #bcc561;
	--clr-complementary-700: #abb059;
	--clr-complementary-800: #999952;
	--clr-complementary: var(--clr-complementary-800);
	--clr-complementary-900: #7a7448;
	--clr-analogous-1-50: #e7f1f6;
	--clr-analogous-1-100: #c4dce9;
	--clr-analogous-1-200: #a4c7db;
	--clr-analogous-1-300: #89b1cb;
	--clr-analogous-1-400: #77a2c0;
	--clr-analogous-1-500: #6893b7;
	--clr-analogous-1-600: #5e87ab;
	--clr-analogous-1-700: #527699;
	--clr-analogous-1: var(--clr-analogous-1-700);
	--clr-analogous-1-800: #496687;
	--clr-analogous-1-900: #394a66;
	--clr-analogous-2-50: #ebe6f0;
	--clr-analogous-2-100: #cdc1da;
	--clr-analogous-2-200: #ac98c2;
	--clr-analogous-2-300: #8c70ab;
	--clr-analogous-2-400: #765299;
	--clr-analogous-2: var(--clr-analogous-2-400);
	--clr-analogous-2-500: #603688;
	--clr-analogous-2-600: #593183;
	--clr-analogous-2-700: #4e2a7a;
	--clr-analogous-2-800: #452471;
	--clr-analogous-2-900: #361864;
	--clr-triadic-1-50: #f0e5f0;
	--clr-triadic-1-100: #dabfda;
	--clr-triadic-1-200: #c395c3;
	--clr-triadic-1-300: #ab6eab;
	--clr-triadic-1-400: #995299;
	--clr-triadic-1: var(--clr-triadic-1-400);
	--clr-triadic-1-500: #883c88;
	--clr-triadic-1-600: #7c3782;
	--clr-triadic-1-700: #6d3079;
	--clr-triadic-1-800: #5e2b6f;
	--clr-triadic-1-900: #472060;
	--clr-triadic-2-50: #ffe4de;
	--clr-triadic-2-100: #f5c7c4;
	--clr-triadic-2-200: #dba6a5;
	--clr-triadic-2-300: #c18683;
	--clr-triadic-2-400: #ad6c6b;
	--clr-triadic-2-500: #995252;
	--clr-triadic-2: var(--clr-triadic-2-500);
	--clr-triadic-2-600: #8c494b;
	--clr-triadic-2-700: #7a3d40;
	--clr-triadic-2-800: #6a3138;
	--clr-triadic-2-900: #58242d;

}:root {
	--clr-primary-50: #e9eaf2;
	--clr-primary-100: #c8cae1;
	--clr-primary-200: #a4a8cc;
	--clr-primary-300: #8286b6;
	--clr-primary-400: #696ca7;
	--clr-primary-500: #525299;
	--clr-primary: var(--clr-primary-500);
	--clr-primary-600: #4c4a90;
	--clr-primary-700: #434184;
	--clr-primary-800: #3c3777;
	--clr-primary-900: #2f2760;
	--clr-complementary-50: #f8faeb;
	--clr-complementary-100: #edf3cc;
	--clr-complementary-200: #e2ebac;
	--clr-complementary-300: #d8e38f;
	--clr-complementary-400: #d0dd7a;
	--clr-complementary-500: #c9d768;
	--clr-complementary-600: #bcc561;
	--clr-complementary-700: #abb059;
	--clr-complementary-800: #999952;
	--clr-complementary: var(--clr-complementary-800);
	--clr-complementary-900: #7a7448;
	--clr-analogous-1-50: #e7f1f6;
	--clr-analogous-1-100: #c4dce9;
	--clr-analogous-1-200: #a4c7db;
	--clr-analogous-1-300: #89b1cb;
	--clr-analogous-1-400: #77a2c0;
	--clr-analogous-1-500: #6893b7;
	--clr-analogous-1-600: #5e87ab;
	--clr-analogous-1-700: #527699;
	--clr-analogous-1: var(--clr-analogous-1-700);
	--clr-analogous-1-800: #496687;
	--clr-analogous-1-900: #394a66;
	--clr-analogous-2-50: #ebe6f0;
	--clr-analogous-2-100: #cdc1da;
	--clr-analogous-2-200: #ac98c2;
	--clr-analogous-2-300: #8c70ab;
	--clr-analogous-2-400: #765299;
	--clr-analogous-2: var(--clr-analogous-2-400);
	--clr-analogous-2-500: #603688;
	--clr-analogous-2-600: #593183;
	--clr-analogous-2-700: #4e2a7a;
	--clr-analogous-2-800: #452471;
	--clr-analogous-2-900: #361864;
	--clr-triadic-1-50: #f0e5f0;
	--clr-triadic-1-100: #dabfda;
	--clr-triadic-1-200: #c395c3;
	--clr-triadic-1-300: #ab6eab;
	--clr-triadic-1-400: #995299;
	--clr-triadic-1: var(--clr-triadic-1-400);
	--clr-triadic-1-500: #883c88;
	--clr-triadic-1-600: #7c3782;
	--clr-triadic-1-700: #6d3079;
	--clr-triadic-1-800: #5e2b6f;
	--clr-triadic-1-900: #472060;
	--clr-triadic-2-50: #ffe4de;
	--clr-triadic-2-100: #f5c7c4;
	--clr-triadic-2-200: #dba6a5;
	--clr-triadic-2-300: #c18683;
	--clr-triadic-2-400: #ad6c6b;
	--clr-triadic-2-500: #995252;
	--clr-triadic-2: var(--clr-triadic-2-500);
	--clr-triadic-2-600: #8c494b;
	--clr-triadic-2-700: #7a3d40;
	--clr-triadic-2-800: #6a3138;
	--clr-triadic-2-900: #58242d;

}