ansible==11.3.0
cffi==1.17.1
cryptography==41.0.7
git+https://github.com/vmware/vsphere-automation-sdk-python.git ; python_version >= '2.7' 
lxml==5.3.1
jmespath==1.0.1
pan-os-python==1.12.1
pan-python==0.17.0
panos-upgrade-assurance==1.1.0
pathlib==1.0.1
pycparser==2.22
pyOpenSSL==23.3.0
pyVmomi==8.0.3.0.1
requests==2.32.3
setuptools==78.1.0
urllib3==2.3.0
xmltodict==0.12.0
